body{
  background-color: #F9F9F9;
  text-align: center;
}

.indexContain{
  background-color: aquamarine;
  font-family: "Arial Black";
}

.indexTitle{
  margin-top: 50px;
  padding-top: 100px;
}

.indexSubtitle{
  margin-top: 50px;
  margin-bottom: 50px;
}

.indexInput{
  background-color: #DBDBDB;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.btn-info{
  margin: 50px 20px 200px ;
}

.menuNavbar{
  background-color: yellow;
}